.reserveform{
    margin: auto;
}

.taxi-reservation-form{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 70%;
    background-color:white;
}

.taxi-reservation{
    background-color: #C6C6C6;
}

.btn-book-vehicle{
    width: 250px;
    padding: 10px;
}

.card-reservation{
    margin-top: 150px;
    margin-bottom: 50px;
}

.label-taxi{
    margin-top: 10px;
}