.register {
    text-align: center;
    margin: 3rem 0;

    .column {
       float: left;
        
        padding: 10px;
      
      }

    .container-profile{
        width: 700px;
        height: 200px;
        margin-left: 25%;
        background-color: beige;
    }
}


